{% extends 'partials/body.html' %}
{% load bootstrap_icons %}

{% block contenido %}
<div class="container-fluid m-5">
<a href="{% url 'usuarios-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>

{% if visualizar == 1 %}
<a href="{% url 'usuarios' 0 %}" class="btn btn-success w-25">
{% else %}
<a href="{% url 'usuarios' 1 %}" class="btn btn-success w-25">
{% endif %}
{% if visualizar == 1 %}
Mostrar {{titulo}} Inactivos 
{% else %}
Ocultar {{titulo}} Inactivos
{% endif %}
</a>

</div>
<div class="container-fluid mb-5">
<table id="lista-tabla" class="table table-hover ">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>

            <th>Tipo de Documento</th>
            <th>Documento</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        
        {% for usuario in usuarios %}
        <tr
        {% if usuario.estado != "1" %}
         class="bg-warning"
        {% endif %}
        > 
        
        
            
            
                <td>{{usuario.primer_nombre}} {{usuario.segundo_nombre}}</td>
                <td>{{usuario.primer_apellido}}</td>
                <td>{{usuario.segundo_apellido}}</td>

                <td>{{usuario.get_tipo_documento_display}}</td>
                <td>{{usuario.documento}}</td>
                <td>
                    <button  type="button" data-ficha="{{usuario.id}}" class="btnEliminar btn btn-danger"
                    data-bs-toggle="modal" data-bs-target="#modalConf">
                    {% bs_icon 'trash' %}

                </button>
                    <a class="btn btn-primary" href="{% url 'usuarios-modificar' usuario.id %}">+</a>
                </td>

            </tr>
        {% endfor %}
            
    </tbody>
  </table>
</div>
<div class="container-fluid p-5">
  <div class="card-deck">
  
  {% for usuario in usuarios %}

    
    {% include 'usuarios/card-usuario.html' %}
  {% endfor %}
  
  </div>
  <nav class="pt-5">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock contenido %}
    