{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'img/logoSena.png' %}"
            type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
        <!-- Incluye el plugin slick -->
        <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/Overlay/OverlayScrollbars.min.css' %}">
        <link href="{% static 'js/DataTables/datatables.min.css' %}"
            rel="stylesheet"/>
        <!-- libreria sweetalert2 -->
        <link rel="stylesheet" href="{% static 'js/SweetAlert2/sweetalert2.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons/bootstrap-icons.css' %}">
        <title> APPrendiz - Iniciar Sesión </title>
    </head>

    <body class="hold-transition dark-mode login-page">
       
                        {% block contenido %}

                        {% endblock contenido %}
              
            
    </body>

</html>