
    <div class="modal fade" id="modalConf" tabindex="-1" aria-labelledby="modalConfLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalConfLabel">Eliminar {{titulo}} </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿Esta usted seguro de eliminar {{titulo|lower}}? </p>
            </div>
            <div class="modal-footer">
              <button type="button"class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a  id="btnConfElim" href="" class=" btn btn-success">Estoy Seguro!</a>
            </div>
          </div>
        </div>
      </div>
</div>
  