{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'index' %}" class="brand-link">
      <img src="{% static 'img/logoSena.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">APPrendiz</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'img/user.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Antony Botello</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-close">
            <a href="#" class="nav-link ">
              <i class="bi bi-people-fill"></i>
              <p>
                Usuarios
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'usuarios' %}" class="nav-link" data-url="{% url 'usuarios' %}">
                  <i class="bi bi-person nav-icon"></i>
                  <p>Usuarios</p>
                </a>
                <li class="nav-item">
                  <a href="{% url 'fichas' %}" class="nav-link" data-url="{% url 'fichas' %}">
                    <i class="bi bi-person-lines-fill nav-icon"></i>
                    <p>Fichas</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'proyectos' %}" class="nav-link" data-url="{% url 'proyectos' %}">
                    <i class="bi bi-lightbulb-fill"></i>
                    <p>Proyectos</p>
                  </a>
                </li>
            </ul>
          </li>
          
      
          <li class="nav-item menu-close">
            <a href="#" class="nav-link ">
              <i class="bi bi-megaphone-fill"></i>
              
              <p>
                Actividades
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'usuarios' %}" class="nav-link" data-url="{% url 'llamados' %}">
                  <i class="bi bi-emoji-angry-fill"></i>
                  <p>Llamados</p>
                </a>
                
            </ul>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
     <!-- script para ventana activa -->
  <script>
    
    // Get all the links in the menu
    var links = document.querySelectorAll('.nav-link');
  
    // Loop through the links and add an event listener to each one
    for (var i = 0; i < links.length; i++) {
      links[i].addEventListener('click', function() {
        // Remove the 'active' class from all links
        for (var j = 0; j < links.length; j++) {
          links[j].classList.remove('active');
        }
        // Add the 'active' class to the clicked link
        this.classList.add('active');
      });
      // Check if the current URL matches the link URL and add the 'active' class
      if (window.location.pathname === links[i].getAttribute('data-url')) {
        links[i].classList.add('active');
      }
    }
  </script>