{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}

<div class="login-box elevation-5">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <img src="{% static 'img/logoSena.png' %}" alt="AdminLTE Logo" class="brand-image img-circle w-50 " style="opacity: .8">

            <div class="h1"><b>App</b>rendiz</div>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Para comenzar a usar nuestro servicio, por favor inicie sesión en su cuenta.</p>

            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="{{ form.username.name }}" class="form-control" placeholder="Usuario">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="{{ form.password.name }}" class="form-control" placeholder="Contraseña">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" name="{{ form.RememberMeCheckbox.name }}" id="remember">
                            <label for="remember">
                                Recuérdame
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            {% if form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.username.errors }}
            </div>
            {% endif %}

            {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.password.errors }}
            </div>
            {% endif %}

            <p class="mb-1">
                <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.login-box -->

{% endblock contenido %}
