{% extends 'partials/body-login.html' %}
{% load static %}

{% block contenido %}
<div class="login-box elevation-5">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <img src="{% static 'img/logoSena.png' %}" alt="AdminLTE Logo" class="brand-image img-circle w-50 " style="opacity: .8">
            <div class="h1"><b>App</b>rendiz</div>
        </div>
        <div class="card-body">
            {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="password" name="new_password1" class="form-control" placeholder="Nueva contraseña">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="new_password2" class="form-control" placeholder="Confirmar nueva contraseña">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Cambiar contraseña">
            </form>
            {% else %}
            <div class="alert alert-danger" role="alert">
                El enlace para restablecer la contraseña no es válido o ha caducado.
                <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {% for field, errors in form.errors.items %}
    <strong>{{ field }}:</strong>
    {% for error in errors %}
    {{ error }}
    {% endfor %}
    <br>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

