{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}

<div class="login-box elevation-5">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <img src="{% static 'img/logoSena.png' %}" alt="AdminLTE Logo" class="brand-image img-circle w-50 " style="opacity: .8">
      <div class="h1"><b>App</b>rendiz</div>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Ingresa tu dirección de correo electrónico para recibir un enlace para restablecer la contraseña.</p>

      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" name="{{ form.email.name }}" class="form-control" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="bi bi-envelope-fill"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock contenido %}
