{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}

<div class="login-box elevation-5">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <img src="{% static 'img/logoSena.png' %}" alt="AdminLTE Logo" class="brand-image img-circle w-50 " style="opacity: .8">
      <div class="h1"><b>App</b>rendiz</div>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Tu contraseña ha sido cambiada satisfactoriamente.</p>

      <p class="mb-0">
        <a href="{% url 'inicio' %}" class="text-center">Iniciar sesión</a>
      </p>
    </div>
  </div>
</div>

{% endblock contenido %}
