{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}
<div class="login-box elevation-5">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <img src="{% static 'img/logoSena.png' %}" alt="AdminLTE Logo" class="brand-image img-circle w-50 " style="opacity: .8">

            <div class="h1"><b>App</b>rendiz</div>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Revisa tu correo electrónico para restablecer tu contraseña.</p>
            <p class="mb-1">
                <a href="{% url 'inicio' %}">Iniciar sesión</a>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.login-box -->
{% endblock contenido %}
